{% load staticfiles %}
<img src="{% static 'img/world_camera.jpg' %}"/>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>
<a href="{% url 'news' %}">All</a>
 | <a href="{% url 'north_america' %}">North America</a>
 | <a href="{% url 'south_america' %}">South America</a>
 | <a href="{% url 'asia' %}">Asia</a>
 | <a href="{% url 'europe' %}">Europe</a>
 | <a href="{% url 'africa' %}">Africa</a>
 | <a href="{% url 'australia' %}">Australia</a>