{% load staticfiles %}
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">


            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

              	<ul class="nav">
          			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            	</ul>

                <ul class="nav hidden-xs" id="lg-menu" align="center">
                    <li class="active"><a href="{% url 'north_america' %}">North America</a></li>
                    <li><a href="{% url 'south_america' %}">South America</a></li>
                    <li><a href="{% url 'asia' %}">Asia</a></li>
                    <li><a href="{% url 'europe' %}">Europe</a></li>
                    <li><a href="{% url 'australia' %}">Australia</a></li>
                    <li><a href="{% url 'africa' %}">Africa</a></li>
                </ul>
                <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                      <a href="{% url 'news' %}"><img id="world_camera" src="{% static 'img/world_camera.jpg' %}"/></a>
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- top nav -->



{#                    <ul class="nav navbar-nav">#}
{#                      <li>#}
{#                        <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>#}
{#                      </li>#}
{#                    </ul>#}




                <div class="padding">
                    <div class="full col-sm-9">

                        <!-- content -->
                      	<div class="row">

                         <!-- main col left -->
                        <div class="col-sm-1">
                        </div>

                          <!-- main col right -->
                          <div class="col-sm-11">

                            {% for post in news %}
                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4><button class="btn btn-default"><b>{{ post.category }}</b></button> {{ post.title }} </h4></div>
                                  <div class="panel-body">
                                    <p><img src="//placehold.it/150x150" class="img-circle pull-right"> {{ post.news_text|truncatewords:80 }}</p>
                                    <div class="clearfix"></div>
                                    <hr>
                                        <button class="btn btn-default"><b><a href="{% url "edit_news" post.id %}">Edit News</a></b></button>
                                        <button class="btn btn-default"><b><a href="{% url "delete_news" post.id %}">Delete News</a></b></button>
                                        <span class="pull-right"> editor: {{ post.user }}</span>
                                        <p><b> Source: </b> <a href="{{ post.url }}">{{ post.url }}</a></p>

                                  </div>
                               </div>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>









{#                               <div class="panel panel-default">#}
{#                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>#}
{#                                  <div class="panel-body">#}
{#                                    <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>#}
{#                                    <div class="clearfix"></div>#}
{#                                    <hr>#}
{##}
{#                                    <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>#}
{##}
{#                                    <hr>#}
{#                                    <form>#}
{#                                    <div class="input-group">#}
{#                                      <div class="input-group-btn">#}
{#                                      <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>#}
{#                                      </div>#}
{#                                      <input type="text" class="form-control" placeholder="Add a comment..">#}
{#                                    </div>#}
{#                                    </form>#}
{##}
{#                                  </div>#}
{#                               </div>#}


                          </div>
                       </div><!--/row-->

                        <div class="row" id="footer">
                          <div class="col-sm-6">

                          </div>
                          <div class="col-sm-6">
                            <p>
                            <a href="#" class="pull-right">©Copyright 2014</a>
                            </p>
                          </div>
                        </div>
                      <hr>
                      <h4 class="text-center">

                      </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--post modal-->
{#<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#  <div class="modal-content">#}
{#      <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#			Update Status#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          <form class="form center-block">#}
{#            <div class="form-group">#}
{#              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>#}
{#            </div>#}
{#          </form>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#          <div>#}
{#          <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>#}
{#            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>#}
{#		  </div>#}
{#      </div>#}
{#  </div>#}
{#  </div>#}



