{% extends 'base_template.html' %}
{% block title %}
    asia news
{% endblock title %}



{% block content %}
    <h1>Asia News</h1>
    <hr>
    {% include 'includes/categories.html' %}

    {% for post in news %}
        <h3>Topic: {{ post.title }}</h3>
        <p>Content: {{ post.news_text }}</p>
        <p>Source: {{ post.url }}</p>
        <p>editor: {{ post.user }}</p>
        <a href="{% url "edit_news" post.id %}">[ Edit News ] </a>
        <a href="{% url "delete_news" post.id %}"> [ Delete News ] </a>
    {% endfor %}

{% endblock content %}