#wrap {
margin-top: -20px;
min-height: 100%;
background-image: url('../img/background.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
    height: 100%;
    height: 700px;
}

#home_title h2{
    font-family: cursive;
    color: #E0E0E0 ;
    text-shadow: 5px 5px 5px #0099FF;
}