#wrap {
margin-top: -20px;
min-height: 100%;
background-image: url('../img/background.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
    height: 100%;
    height: 700px;
}

#home_title h2{
    margin-left: 30px;
    margin-top: 60px;
    font-family: cursive;
    color: #E0E0E0 ;
    text-shadow: 5px 5px 5px #0099FF;
}

#home_title2 h2{
    float: right;
    margin-top: 380px;
    margin-right: 50px;
    font-family: cursive;
    color: #E0E0E0 ;
    text-shadow: 5px 5px 5px #0099FF;
}

#world_camera {
    width: 100%;
}

#lg-menu {
    background-color: lightgrey;
}

#profile {
    font-size: 24px;
}